
body {
  font-family: Arial, sans-serif;
  background-color: #c5c5c8; 
  color: #333; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: #ffffff; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 300px; 
  margin: auto;
}


button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input[type="number"] {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}


p {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}


br {
  line-height: 1.5;
}
